{{ template "header" . }}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="social-tab" data-bs-toggle="tab" data-bs-target="#social-tab-pane" type="button" role="tab" aria-controls="social-tab-pane" aria-selected="false">Social Media</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">.
    {{ template "me" . }}
    </div>
  <div class="tab-pane fade" id="social-tab-pane" role="tabpanel" aria-labelledby="social-tab" tabindex="0">
    {{ template "social" . }}
    </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
</div>
<style>
  h6 {
    text-align: center;
    text-decoration: underline;
    padding-top: 2%;
  }

  form {
    padding: 2%;
    margin: 2%;
  }



  .btn-flat {
    text-decoration: none;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
  }

  .box img {
    width: 100px;
    height: 114px;
    -webkit-box-shadow: 1px 3px 15px -3px #000000;
    box-shadow: 1px 3px 15px -3px #000000;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .flex-item {
    padding: 5px;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    line-height: 150px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
</style>

{{ template "footer" . }}