
{{define "me"}}

<div class="container text-center">
    <div class="row">
      <div class="col ">


        <div class="ui card">
          <div class="image">
            <img class="ui medium image" src="/public/img/me.jpg"  alt="...">

          </div>
          <div class="content">
            <a class="header">Zachary Endrulat</a>
            <div class="meta">
              <span class="date">Web Developer</span>
            </div>
            <div class="description">
              <div class="ui list">
                <div class="item">
                  <i class="users icon"></i>
                  <div class="content">
                    Enjoys Golang
                  </div>
                </div>
               
                <div class="item">
                  <i class="mail icon"></i>
                  <div class="content">
                    <a href="mailto:jack@semantic-ui.com">zendrulat@gmail.com</a>
                  </div>
                </div>
                <div class="item">
                  <i class="linkify icon"></i>
                  <div class="content">
                    <a href="https://docs.google.com/document/d/1U07JafbjWr_5pLmN6purt7Tvlbh-hmh8PEqPhwcto9M/edit?usp=sharing">Resume</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              Lover of making pizza
            </a>
          </div>
        </div>




      </div>
      <div class="col ">
        <div class="ui middle aligned animated list">
          <div class="item">
            <a href="https://medium.com/@snippet22/errors-in-go-1ebfa1c1b883">
              <i class="medium icon"></i>
            <div class="content">
              <div class="header">
             Medium
              </div>
            </a>
            </div>
          </div>
          <div class="item">
            <img class="ui avatar image" src="/images/avatar/small/christian.jpg">
            <div class="content">
              <div class="header">Christian</div>
            </div>
          </div>
          <div class="item">
            <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
            <div class="content">
              <div class="header">Daniel</div>
            </div>
          </div>
        </div>

      </div>

      <div class="col ">
sd
      </div>
     
      
    </div>
  </div>

{{end}}
